/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

h1 {
	margin: 20px;
	text-align: center;
	font-size: 20px;
}

.celek {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
}

.jarmila, .klotylda, .lucie, .lucinda {
	text-align: center;
	padding: 20px;
	margin: 15px;
	border: 1px solid rgb(163, 163, 163);
	border-radius: 8px;
	box-shadow: rgb(101, 232, 255) 1px 1px 2px;
}

img {
	border-radius: 50%;
}

@media (min-width: 540px) {

	.jarmila, .klotylda, .lucie, .lucinda {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: calc( 100% / 2.2);
		flex-grow: 1;
		text-align: left; 
		margin: 10px;
		padding: 10px;
	}

	img {
		height: 66px;
	}

	h2 {
		font-size: 14px;
		margin: 10px;
	}

	p {
		font-size: 12px;
		margin-top: -30px;
		padding-left: 75px;
	}

}

@media (min-width: 960px) {

	.celek {
		flex-wrap: nowrap;
	}

	.jarmila, .klotylda, .lucie, .lucinda {
		flex-direction: column;
		padding: 20px;
		margin: 15px;
		text-align: center;
	}


	p {
		margin: 0px;
		padding: 0px;
	}

	img {
		height: 120px;
	}
}